# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Get required JDK version from Maven project
      run: |
        JDK_VERSION=$(mvn help:evaluate -Dexpression=maven.compiler.release -q -DforceStdout)
        echo "JDK_VERSION=$JDK_VERSION" >> $GITHUB_ENV
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: $JDK_VERSION
        distribution: microsoft
    - name: Maven build
      run: mvn -B package --file pom.xml
